// contact styles


.contactContainer {
  display: flex;
  margin: 1em;

  .contactTextContainer {
    width: 40%;
    padding: 0 1em 1em 1em;
    text-align: left;

    .contactSocials {
      text-align: center;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 1em;

    input, 
    textarea {
      border-radius: 5px;
      width: 90%;
      padding: .3em;
      margin: 0 .2em;
    }

    input:nth-of-type(2){
      margin: .4em .2em;
    }

    textarea {
      resize: none;
    }

    button {
      width: 25%;
      letter-spacing: 2px;
      font-weight: 900;
      color: $secondaryColor;
      background-color: $baseColor;
      border: 5px double $secondaryColorOpaque;
      border-radius: 5px;
      padding: .5em;
      margin: 1em;
      transition: all .7s;
    }

    button:hover,
    button:focus,
    button:active {
      color: $textColor;
      background-color: $baseColorOpaque;
      border: 5px double $textColor;
      border-radius: 5px;
    }
  }
}

.contactSocials {
  @include socials;
  margin-top: 1.8em;
  margin-bottom: 1em;
}

// media queries

@media only screen and (max-width: 900px){
  .contactContainer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .contactTextContainer {
      width: 90%;
      
      a.fontChange {
        display: inline-block;
      }
    }

    form {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 535px) {
  .contactContainer {
    margin: 0;
    .contactTextContainer,
    form {
      padding: .2em;
      width: 100%;
      margin: 0;

      button {
        margin: 1em 0;
        width: 37%;
      }
    }
    
  }
}