// header styles
header {
  min-height: 100vh;
  overflow: hidden;
}

// header nav
.headerBar {
  @include heading;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.headerNav {
  ul{
    display: flex;
    padding-top: .3em;

    li{
      padding: 0 1em;
    }

    li:hover,
    li:focus {
      background-color: $baseColorOpaque;
    }
  }
}

// hamburger nav
nav.hamburger { 
  position: absolute;
  display: none;
  right: 52px;
  z-index: 100;
  padding: 0 1em;
  background-color: $secondaryColor;
  border: 2px solid $baseColor;

  ul{
    display: flex;
    flex-direction: column;
    padding: .7em 2em 1em 0;
    // padding-right: 2em;
    // padding-top: .7em;

    li {
      padding: .2em;
      color: $baseColor;
    }
    
    li:hover,
    li:focus {
      background-color: $baseColorOpaque;
    }
  }
}

// hamburger menu button
  button.hamburger {
    opacity: 0;
    position: absolute;
    right: -100px;
    border: none;
    background-color: $secondaryColor;
    padding: 20px;
    i {
      position: absolute;
      z-index: 999;
      top: 8px;
      left: 8px;
      color: $textColor;
      font-size: 2rem;
     
    }
    i.fa-bars:hover{
      color: $secondaryColor;
      background-color: $baseColor;
    }
    i.fa-times:hover{
      background-color: $baseColorOpaque;
    }
  }


// intro div with header and image
.intro {
  margin: 3em 0;
}

h1 {
  max-width: 800px;
  margin-left: 1em;

  .fontChange {
   position: relative;
   display: block;
   top: 38px;
   left: -10%;
   z-index: 11;
  }
}

.intro > h2 {
  position: relative;
  z-index: 12;
  margin-left: 32%;
  top: 1em;
    span {
      display: block;
    
      padding-top: 0.5em;
      margin-left: 70px;
     
    }
}

// background div behind image
.background {
  position: relative;
  z-index: 5;
  width: 400px;
  height: 400px;
  background-color: $baseColor;
  transform: rotate(45deg);
  margin: 0 auto;
}

// image container
.imgContainer {
  position: relative;
  z-index: 8;
  max-width: 300px;
  margin: 6em auto;
  transform: rotate(-45deg);

  img {
    width: 100%;
  }
}


// media queries

@media only screen and (max-width: 900px){
  .headerNav ul li {
    padding: 0 .5em;
  }
}

// stack name and nav in header
@media only screen and (max-width: 685px){
  .headerBar {
    flex-direction: column;
    align-items: center;
  }
}

// reducing size of image and background div
@media only screen and (max-width: 535px){
  .imgContainer{
    max-width: 250px;
  }
  .background{
    width: 300px;
    height: 300px;
  }
  .intro > h2 {
    margin-left: -1%;
  }
}

// switch to hamburger menu
@media only screen and (max-width: 408px){
  // hide my name
  .headerBar p{
    opacity: 0;
  }
  // show hamburger menu
  button.hamburger {
    opacity: 1;
    top: 16px;
    right: 60px;
    i {font-size: 1.7rem;}
  }

  // hide headerNav
  .headerNav li{
    opacity: 0;
    position: absolute;
    left: -100px;
  }
}