// header styles
header {
  min-height: 100vh;
  overflow: hidden;
}

// header nav
.headerBar {
  @include heading;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  h2 {
    padding-top: .3em;
  }
}

.navContainer {
  display: flex;
}
.headerNav {
  ul{
    display: flex;
    padding-top: .5em;
    margin-right: .1em;

    li{
      padding: 0 1em;
    }

    li:hover,
    li:focus-within {
      background-color: $baseColorOpaque;
    }
  }
}

// hamburger nav
nav.hamburger { 
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 40;
  background-color: $secondaryColor;
  border: 2px solid $baseColor;

  ul{
    display: flex;
    flex-direction: column;
    padding: 3em;

    li {
      padding: .5em;
      color: $baseColor;
    }
    
    li:hover,
    li:focus,
    li:active,
    li:focus-within{
      background-color: $baseColorOpaque;
    }
  }
}

// hamburger menu button
  button.hamburger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: none;
    background-color: $secondaryColor;
    padding: 0 1.2em;
    i {
      position: relative;
      z-index: 999;
      color: $textColor;
      font-size: 1.7rem;
    }
    &:focus,
    &:hover,
    &:focus-within {
      background-color: $baseColorOpaque;
      border: 1px dotted $baseColor;
      border-radius: 15px;
    }
  }

// intro div with header and image
.intro {
  margin: 3em 0;
}

h1 {
  max-width: 800px;
  margin-left: 0;

  .fontChange {
   position: relative;
   display: block;
   top: -65px;
   left: -12%;
   z-index: 11;
   margin-top: 1.67em;
  }
}

.intro > h2 {
  position: relative;
  z-index: 12;
  margin-left: 50%;
  top: -2em;
    span {
      display: block;
    
      padding-top: 0.5em;
      margin-left: 70px;
     
    }
}

// background div behind image
.background {
  position: relative;
  z-index: 5;
  top: -100px;
  width: 400px;
  height: 400px;
  background-color: $baseColor;
  transform: rotate(45deg);
  margin: 0 auto;
}




// media queries
// laptops
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .background {
      top: -145px;
    }
    .intro {
      margin-bottom: 0;
    }
    .intro > h2 {
      top: -4em;
    }
    h1 {
      margin-left: -1em;
      .fontChange {
        top: 22px;
        margin-top: 0;
      }
    }
}



// less padding in header
@media only screen and (max-width: 900px){
  .headerNav ul li {
    padding: 0 .4em;
  }
}

// stack name and nav in header
// adjust spacing of background 
@media only screen and (max-width: 810px){
  .headerBar {
    flex-direction: column;
    align-items: center;
  }
  .background {
    top: -70px;
  }
  .intro > h2 {
    top: 0;
  }
}

// reducing size of background div margin
@media only screen and (max-width: 535px){
  h1 {
    margin-left: 40px;
  }
  .intro > h2 {
    margin-left: -1%;
  }
}

// switch to hamburger menu
@media only screen and (max-width: 482px){
  // stack my name and shift left
  .headerBar {
    padding-left: 0;
    flex-direction: row;
  }
  // show hamburger menu
  button.hamburger  {
    display: flex;
  }

  // hide headerNav
  .headerNav {
    display: none;
  }
}

// adjusting position of intro image background
@media only screen and (max-width: 433px) {
  .background{
   margin-left: -0.8em;
  }
}

@media only screen and (max-width: 375px){
  .background{
   margin-left: -1.6em;
  }
}