// Project styles
.projects.innerWrapper {
  margin-top: 1em;
  margin-bottom: 2em;
}

.projectList,
.projectList li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 60px;

  li {
    grid-template-columns: 1fr 1fr;
  
    // outline: 1px dotted red;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: left;

  h3 {
    margin: 0 0 .5em 0;
  }
}
.textContainer:nth-child(odd) {
  align-items: flex-start;
}

.imageContainer {
  padding: 1em 0;
}

.languages,
.siteLinks {
  display: flex;
  justify-content: flex-start;

  li {
    display: flex;
    font-size: 2rem;
    gap: 10px;
  }
  a{
    background-color: $baseColor;
    color: $secondaryColor;
    border: 5px double  $textColorOpaque;
    border-radius: 5px;
    padding: .2em;
    margin: .7em .5em;
    transition: all .7s;
  }
  a:hover,
  a:focus {
    background-color: $baseColorOpaque;
    color: $textColor;
    border: 5px double  $textColor;
  }

  i {
     margin: 0 .2em;
  }
  img {
    width: 85%;
  }
}

.languages {
  padding-top: 1em;
}
.siteLinks li {
  font-size: 1rem;
}

// media queries
// stack images over text containers
@media only screen and (max-width: 900px){
  .projectList {
    gap: 40px;
    li {
      grid-template-columns: 1fr;
    }
  }
  .imageContainer:nth-of-type(even) {
    order: -1;
  }

  // align all text content to the left
  .textContainer {
    align-items: flex-start;
    padding: 0 2em;
  }
}

// reduce font size on site link buttons
@media only screen and (max-width: 535px) {
  .textContainer {
    padding: 0 0 0 .3em;
  }
  .languages i{
    margin: 0 0.1em;
  }
  .siteLinks {
    margin-top: .2em;
    a {
      font-size: .8rem;
    }
  }
}