// Project styles
.projects.innerWrapper {
  margin-top: 1em;
  margin-bottom: 2em;
  overflow: hidden;
}

.projectList,
.projectList li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 60px;

  li {
    grid-template-columns: 1fr 1fr;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: right;

  h3 {
    margin: 0 0 .5em 0;
  }
}
.textContainer:nth-child(odd) {
  align-items: flex-start;
  text-align: left;
}

.imageContainer {
  padding: 1em 0;
  
  img {
    border: 4px solid $baseColor;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 3px $textColor;
    padding: 2px;
    transition: transfrom .8s;
  }
  img:hover{
    transform:scale(1.1);
  }
}

.languages,
.siteLinks {
  display: flex;
  justify-content: flex-start;

  li {
    display: flex;
    font-size: 2rem;
    gap: 10px;
  }
  a{
    background-color: $baseColor;
    color: $secondaryColor;
    border: 5px double  $textColorOpaque;
    border-radius: 5px;
    padding: .2em;
    margin: .7em .5em;
    text-align: center;
    transition: all .7s;
  }
  a:hover,
  a:focus,
  a:focus-within {
    background-color: $baseColorOpaque;
    color: $textColor;
    border: 5px double  $textColor;
    outline: 1px solid $textColor;
  }

  i {
     margin: 0 .2em;
  }
  img {
    width: 85%;
  }
}

.languages {
  padding-top: 1em;
}
.siteLinks li {
  font-size: 1rem;
}

// image animations
.slideIn {
  opacity: 0;
  transition: all .8s;
}

.slideIn.alignLeft {
  transform: translateX(-50%) scale(0.95);
}

.slideIn.alignRight {
  transform: translateX(50%) scale(0.95);
}

.slideIn.active{
  opacity: 1;
  transform: translateX(0%) scale(1);
}




// media queries
// stack images over text containers
@media only screen and (max-width: 900px){
  .projectList {
    gap: 40px;
    li {
      grid-template-columns: 1fr;
    }
  }
  // make images smaller
  .imageContainer{
    max-width: 75%;
    margin: 0 auto;
  }

  .imageContainer:nth-of-type(even) {
    order: -1;
  }

  // align all text content to the left
  .textContainer {
    align-items: flex-start;
    text-align: left;
    padding: 0 2em;
  }
}

// reduce font size on site link buttons
@media only screen and (max-width: 535px) {
  .textContainer {
    padding: 0 0 0 .3em;
  }
  .languages i{
    margin: 0 0.1em;
  }
  .siteLinks {
    margin-top: .2em;
    a {
      font-size: .8rem;
    }
  }
}