html {
  font-size: 125%;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

a {
  color: $textColor;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

.fontChange,
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  transition: .5s;
}

.fontChange:hover {
  text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}



// header text
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.6rem;
}

h1 .fontChange,
.intro h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
}

.intro h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.4rem;
}

// about text
.about {
  p{
    font-size: clamp(.9rem, 3vw, 1.3rem);
    line-height: clamp(1rem, 10vw, 3rem);
  }
  .fontChange {
    font-size: clamp(1.1rem, 3vw, 1.6rem);
  }
}

// projects text
.projects {
  p {
    font-size: 1.1rem;
  }
  a{
    font-weight: 900;
  }
}

// footer text
footer {
  p {
    line-height: 1rem;
    font-size: 1rem;
  }
  p:nth-of-type(2) {
    font-size: .7rem;
  }
}