html {
  font-size: 125%;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}




.fontChange,
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
}

a {
  color: $textColor;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  line-height: 1.9rem;
}



// header text
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.6rem;
}

h1 .fontChange,
.intro h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
}

.intro h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.4rem;
}

// about text
.about p{
  line-height: 2.2rem;
}

// projects text
.projects p{
  font-size: 1.1rem;
}

// footer text
footer p{
  font-size: 1rem;
}