// general text styles

html {
  font-size: 125%;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

a {
  color: $textColor;
  text-decoration: none;
}

p {
  font-size: clamp(1rem ,2vw, 1.3rem);
  line-height: 1.9rem;
}

.fontChange {
  font-size: clamp(1.3rem ,2vw, 1.6rem);
  font-weight: 700;
  transition: .5s;
}

.fontChange:hover {
  text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
}


// header text
.headerBar p {
  font-weight: 700;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(3rem, 5vw, 3.6rem);
  line-height: clamp(3rem, 5vw, 3.6rem);
}

h1 .fontChange,
.intro h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: clamp(2.4rem, 5vw, 3rem);
  line-height: clamp(2.4rem, 5vw, 3rem);
}

h2 {
  font-family: 'Playfair Display', serif;
  letter-spacing: .2rem;
}
.intro h2 {
  font-size: clamp(3rem, 2vw, 3.4rem);
  line-height: clamp(3rem, 2vw, 3.4rem);
}

.bwImage h2 {
  font-size: clamp(2.2rem, 5vw, 2.6rem);
  text-shadow: 2px 2px $additionalColor;
}


// about text
.about {
  p{
    font-size: clamp(.9rem, 3vw, 1.3rem);
    line-height: clamp(1rem, 10vw, 3rem);
  }
  .fontChange {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
  }
}
.aboutSocials span,
.contactSocials span{
  font-size: 1rem;
}

// projects text
h3 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(1.3rem ,2vw, 1.6rem);
  letter-spacing: .2rem;
}

.projects {
  p {
    font-size: 1.1rem;
  }
  a{
    font-weight: 900;
  }
}


// footer text
footer {
  p {
    line-height: clamp(.9rem, 2vw, 1rem);
    font-size: clamp(.9rem, 2vw, 1rem);
  }
  p:nth-of-type(2) {
    font-size: .7rem;
  }
}