html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: rgb(89, 89, 89);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

a {
  color: rgb(89, 89, 89);
  text-decoration: none;
}

p {
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.9rem;
}

.fontChange {
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fontChange:hover {
  text-shadow: 0 0.015em #101010, 0 -0.015em #101010, 0.01em 0 #101010, -0.01em 0 #101010;
}

.headerBar p {
  font-weight: 700;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(3rem, 5vw, 3.6rem);
  line-height: clamp(3rem, 5vw, 3.6rem);
}

h1 .fontChange,
.intro h2 span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(2.4rem, 5vw, 3rem);
  line-height: clamp(2.4rem, 5vw, 3rem);
}

h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.2rem;
}

.intro h2 {
  font-size: clamp(3rem, 2vw, 3.4rem);
  line-height: clamp(3rem, 2vw, 3.4rem);
}

.bwImage h2 {
  font-size: clamp(2.2rem, 5vw, 2.6rem);
  text-shadow: 2px 2px rgb(8, 8, 8);
}

.about p {
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  line-height: clamp(1rem, 10vw, 3rem);
}

.aboutSocials span,
.contactSocials span {
  font-size: 1rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  letter-spacing: 0.2rem;
}

.projects p {
  font-size: 1.1rem;
}
.projects a {
  font-weight: 900;
}

footer p {
  line-height: clamp(0.9rem, 2vw, 1rem);
  font-size: clamp(0.9rem, 2vw, 1rem);
}
footer p:nth-of-type(2) {
  font-size: 0.7rem;
}

header {
  overflow: hidden;
}

.headerBar {
  text-align: left;
  border-bottom: 2px solid rgb(5, 40, 215);
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  border: none;
}
.headerBar h2 {
  padding-top: 0.3em;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  margin-right: 0.1em;
}
.headerNav ul li {
  padding: 0 1em;
}
.headerNav ul li:hover,
.headerNav ul li:focus-within {
  background-color: rgba(54, 96, 223, 0.2);
}

nav.hamburger {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 40;
  background-color: rgb(232, 232, 232);
  border: 2px solid rgb(5, 40, 215);
}
nav.hamburger ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3em;
}
nav.hamburger ul li {
  padding: 0.5em;
  color: rgb(5, 40, 215);
}
nav.hamburger ul li:hover,
nav.hamburger ul li:focus,
nav.hamburger ul li:active,
nav.hamburger ul li:focus-within {
  background-color: rgba(54, 96, 223, 0.2);
}

button.hamburger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  border: none;
  background-color: rgb(232, 232, 232);
  padding: 0 1.2em;
}
button.hamburger i {
  position: relative;
  z-index: 999;
  color: rgb(89, 89, 89);
  font-size: 1.7rem;
}
button.hamburger:focus, button.hamburger:hover, button.hamburger:focus-within {
  background-color: rgba(54, 96, 223, 0.2);
  border: 1px dotted rgb(5, 40, 215);
  border-radius: 15px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("../../assets/abstractBg.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2em;
  padding-right: 0.5em;
}

.introTextContainer {
  font-size: 2em;
  line-height: 1.5em;
  text-align: right;
  padding: 3em 0.5em;
  margin-left: 2em;
}
.introTextContainer h1 {
  margin: 0;
}
.introTextContainer .newLine {
  display: block;
}

.introImageContainer {
  position: relative;
  z-index: 5;
  width: 400px;
  border: 30px solid rgb(12, 15, 66);
  border-radius: 100px;
}

@media only screen and (max-width: 930px) {
  .headerNav ul li {
    padding: 0 0.4em;
  }
}
@media only screen and (max-width: 810px) {
  .headerBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro .introImageContainer {
    margin: 0 auto;
  }
  .intro .introTextContainer {
    width: 90%;
    min-height: 160px;
  }
}
@media only screen and (max-width: 482px) {
  .headerBar {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  button.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerNav {
    display: none;
  }
}
@media only screen and (max-width: 433px) {
  .headerBar h2 {
    font-size: 110%;
    min-width: 50%;
  }
  .intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introImageContainer {
    width: 300px;
    overflow-x: hidden;
  }
  .introTextContainer {
    margin-left: 0;
    padding: 0;
    width: 300px;
  }
  .introTextContainer h1 {
    font-size: 1.5rem;
    text-align: end;
  }
}
.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
}
.contactContainer .contactTextContainer {
  width: 40%;
  padding: 0 1em 1em 1em;
  text-align: left;
}
.contactContainer .contactTextContainer .colorChange {
  color: rgb(54, 96, 223);
}
.contactContainer .contactTextContainer .contactSocials {
  text-align: center;
}
.contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 1em;
}
.contactContainer form input,
.contactContainer form textarea {
  width: 90%;
  padding: 0.3em;
  margin: 0 0.2em;
  background-color: rgb(232, 232, 232);
  border: 5px outset rgb(5, 40, 215);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px rgba(54, 96, 223, 0.2);
          box-shadow: 5px 5px rgba(54, 96, 223, 0.2);
}
.contactContainer form input:nth-of-type(2) {
  margin: 0.5em 0.2em;
}
.contactContainer form textarea {
  resize: none;
}
.contactContainer form button {
  width: 25%;
  letter-spacing: 2px;
  font-weight: 900;
  color: rgb(232, 232, 232);
  background-color: rgb(5, 40, 215);
  border: 5px double rgba(244, 240, 236, 0);
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.contactContainer form button:hover,
.contactContainer form button:focus,
.contactContainer form button:active {
  color: rgb(89, 89, 89);
  background-color: rgba(54, 96, 223, 0.2);
  border: 5px double rgb(89, 89, 89);
  border-radius: 5px;
}

.contactSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.8em;
  margin-bottom: 1em;
}
.contactSocials li {
  font-size: 2rem;
  margin: 0 auto;
}
.contactSocials li span {
  display: block;
}
.contactSocials li a:hover,
.contactSocials li a:focus {
  color: rgb(5, 40, 215);
}

@media only screen and (max-width: 900px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactContainer .contactTextContainer {
    width: 90%;
  }
  .contactContainer .contactTextContainer a.fontChange {
    display: inline-block;
  }
  .contactContainer form {
    width: 90%;
  }
}
@media only screen and (max-width: 535px) {
  .contactContainer {
    margin: 0;
  }
  .contactContainer .contactTextContainer,
  .contactContainer form {
    padding: 0.2em;
    width: 100%;
    margin: 0;
  }
  .contactContainer .contactTextContainer button,
  .contactContainer form button {
    margin: 1em 0;
    width: 37%;
  }
}
.projects.innerWrapper {
  margin-top: 1em;
  margin-bottom: 2em;
}

.projectList,
.projectList li {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  gap: 60px;
}
.projectList li,
.projectList li li {
  grid-template-columns: 1fr 1fr;
}

.textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
.textContainer h3 {
  margin: 0 0 0.5em 0;
}

.textContainer:nth-child(odd) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.imageContainer {
  padding: 1em 0;
}
.imageContainer img {
  border: 4px solid rgb(5, 40, 215);
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 2px 3px rgb(89, 89, 89);
          box-shadow: 2px 2px 2px 3px rgb(89, 89, 89);
  padding: 2px;
  -webkit-transition: transfrom 0.8s;
  transition: transfrom 0.8s;
}
.imageContainer img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.languages,
.siteLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.languages li,
.siteLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  gap: 10px;
  padding: 0.1em;
}
.languages span,
.siteLinks span {
  text-align: center;
  font-size: 0.6rem;
  line-height: 0.7rem;
}
.languages a,
.siteLinks a {
  background-color: rgb(5, 40, 215);
  color: rgb(232, 232, 232);
  border: 5px double rgba(89, 89, 89, 0);
  border-radius: 5px;
  padding: 0.2em;
  margin: 0.7em 0.5em;
  text-align: center;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.languages a:hover,
.languages a:focus,
.languages a:focus-within,
.siteLinks a:hover,
.siteLinks a:focus,
.siteLinks a:focus-within {
  background-color: rgba(54, 96, 223, 0.2);
  color: rgb(89, 89, 89);
  border: 5px double rgb(89, 89, 89);
  outline: 1px solid rgb(89, 89, 89);
}
.languages i,
.siteLinks i {
  margin: 0 0.2em;
}
.languages img,
.siteLinks img {
  width: 85%;
}
.languages .iconPng,
.siteLinks .iconPng {
  width: 60px;
  background-color: rgb(232, 232, 232);
}

.languages {
  padding-top: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.siteLinks li {
  font-size: 1rem;
}

.slideIn {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.slideIn.alignLeft {
  -webkit-transform: translateX(-50%) scale(0.95);
          transform: translateX(-50%) scale(0.95);
}

.slideIn.alignRight {
  -webkit-transform: translateX(50%) scale(0.95);
          transform: translateX(50%) scale(0.95);
}

.slideIn.active {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

@media only screen and (max-width: 900px) {
  .projectList {
    gap: 40px;
  }
  .projectList li {
    grid-template-columns: 1fr;
  }
  .imageContainer {
    max-width: 75%;
    margin: 0 auto;
  }
  .imageContainer:nth-of-type(even) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .textContainer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 0 2em;
  }
}
@media only screen and (max-width: 535px) {
  .textContainer {
    padding: 0 0 0 0.3em;
  }
  .languages i {
    margin: 0 0.1em;
  }
  .siteLinks {
    margin-top: 0.2em;
  }
  .siteLinks a {
    font-size: 0.8rem;
  }
}
.scroll {
  position: fixed;
  bottom: 30px;
  right: 1em;
  z-index: 99;
  opacity: 0;
  border: none;
  outline: none;
  background-color: rgba(89, 89, 89, 0.6);
  color: rgb(232, 232, 232);
  cursor: pointer;
  width: 87px;
  height: 87px;
  padding: 15px;
  border: 3px solid rgb(5, 40, 215);
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 900;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.scroll:hover,
.scroll:focus {
  background-color: rgb(89, 89, 89);
  border: 3px solid rgb(232, 232, 232);
}

.showButton {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.skills.innerWrapper {
  margin: 2em 0 1em 0;
}

.skillList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(132px, 1fr));
  gap: 1rem;
  margin: 0 5em;
}
.skillList li img, .skillList li i {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  color: rgb(89, 89, 89);
}
.skillList li .iconPng {
  width: 75px;
}
.skillList li > p {
  padding-top: 1.6em;
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  .skills.innerWrapper {
    margin: 1em 0;
  }
  .skillList {
    margin: 0 1.6em;
  }
}
@media only screen and (max-width: 700px) {
  .skillList {
    margin: 0 0.7em;
  }
}
@media only screen and (max-width: 445px) {
  .skills.innerWrapper {
    margin: 0;
    padding: 0 0 0 0.5em;
    width: 100%;
  }
  .skillList {
    margin: 0;
    gap: 0;
  }
  .skillList li {
    font-size: 0.8rem;
  }
  .skillList li img, .skillList li i {
    font-size: 1.5rem;
  }
  .skillList li .iconPng {
    width: 60px;
  }
  .skillList li > p {
    font-size: 0.8rem;
  }
}
.themeSwitchWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em;
  border: 1px dotted rgba(89, 89, 89, 0);
}
.themeSwitchWrapper:hover, .themeSwitchWrapper:focus, .themeSwitchWrapper:focus-within {
  border: 1px dotted rgb(5, 40, 215);
  border-radius: 15px;
  background-color: rgba(54, 96, 223, 0.2);
}

.themeSwitch {
  display: inline-block;
  height: 38px;
  position: relative;
  width: 60px;
}

.themeSwitch input {
  opacity: 0;
}

.slider {
  background-color: rgb(244, 240, 236);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: rgb(89, 89, 89);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: rgb(18, 18, 18);
  border: 3px double rgb(244, 240, 236);
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
          transform: translateX(19px);
}

.slider.round {
  border-radius: 34px;
  border: 3px double rgb(89, 89, 89);
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  color: rgb(244, 240, 236);
}
.darkMode .skipLink {
  color: rgb(18, 18, 18);
}
.darkMode .outerWrapper,
.darkMode .innerWrapper {
  background-color: rgb(18, 18, 18);
}
.darkMode .headerNav li:hover,
.darkMode .headerNav li:focus-within {
  outline: 2px solid rgb(244, 240, 236);
}
.darkMode .hamburger {
  background-color: rgb(18, 18, 18);
}
.darkMode .hamburger i {
  color: rgb(244, 240, 236);
}
.darkMode .hamburger li:hover,
.darkMode .hamburger li:focus-within {
  outline: 2px solid rgb(244, 240, 236);
}
.darkMode button.hamburger:hover,
.darkMode button.hamburger:focus-within {
  outline: 2px solid rgb(244, 240, 236);
}
.darkMode .themeSwitchWrapper:hover, .darkMode .themeSwitchWrapper:focus, .darkMode .themeSwitchWrapper:focus-within {
  outline: 2px solid rgb(244, 240, 236);
}
.darkMode a, .darkMode i,
.darkMode .skills i,
.darkMode .languages img {
  color: rgb(244, 240, 236);
}
.darkMode .iconPng {
  background-color: rgb(244, 240, 236);
}
.darkMode .aboutSocials a:hover,
.darkMode .aboutSocials a:focus-within,
.darkMode .contactSocials a:hover,
.darkMode .contactSocials a:focus-within {
  color: rgb(5, 40, 215);
}
.darkMode .aboutSocials a:hover i,
.darkMode .aboutSocials a:focus-within i,
.darkMode .contactSocials a:hover i,
.darkMode .contactSocials a:focus-within i {
  color: rgb(5, 40, 215);
}
.darkMode form input,
.darkMode form textarea {
  background-color: rgb(18, 18, 18);
  color: rgb(232, 232, 232);
  -webkit-box-shadow: 3px 3px 8px rgb(89, 89, 89);
          box-shadow: 3px 3px 8px rgb(89, 89, 89);
}
.darkMode form input:focus-within,
.darkMode form textarea:focus-within {
  -webkit-box-shadow: inset 0 0 8px rgb(232, 232, 232);
          box-shadow: inset 0 0 8px rgb(232, 232, 232);
  border: 5px outset rgb(232, 232, 232);
}
.darkMode form button:hover,
.darkMode form button:focus,
.darkMode form button:active {
  color: rgb(244, 240, 236);
  background-color: rgba(54, 96, 223, 0.2);
  border: 5px double rgb(244, 240, 236);
  border-radius: 5px;
}
.darkMode .languages a:hover,
.darkMode .languages a:focus,
.darkMode .siteLinks a:hover,
.darkMode .siteLinks a:focus {
  background-color: rgba(54, 96, 223, 0.2);
  color: rgb(244, 240, 236);
  border: 5px double rgb(244, 240, 236);
}
.darkMode .fontChange:hover {
  text-shadow: 0 0.015em #e3dbdb, 0 -0.015em #e3dbdb, 0.01em 0 #e3dbdb, -0.01em 0 #e3dbdb;
}

@media only screen and (max-width: 433px) {
  .themeSwitch {
    width: 50px;
    height: 35px;
  }
  .themeSwitch .slider.round:before {
    width: 22px;
    height: 22px;
    left: 0;
  }
}
.animationContainer {
  width: 300px;
  height: 377px;
  background: url(../../assets/paintingBGCroppedSmall.jpg);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
  border: 2px solid rgb(5, 40, 215);
  margin-top: 5em;
  margin-left: 2em;
}
.animationContainer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.imageEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.imageEffect span {
  width: 25%;
  height: 100%;
  background: url(../../assets/paintingBGCroppedSmall.jpg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.imageEffect span:nth-child(1) {
  background-position: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.imageEffect span:nth-child(2) {
  background-position: 33.33333%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.imageEffect span:nth-child(3) {
  background-position: 66.66666%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.imageEffect span:nth-child(4) {
  background-position: 100%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.animationContainer:hover .imageEffect > span,
.animationContainer.scrollActivate .imageEffect > span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.animationContainer:hover .bwImage,
.animationContainer.scrollActivate .bwImage {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.bwImage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(232, 232, 232);
  background: url(../../assets/bwPaintingSmall.jpg);
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media only screen and (max-width: 433px) {
  .animationContainer {
    margin: 5em auto 1em auto;
  }
}
body {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: rgb(232, 232, 232);
  color: rgb(8, 8, 8);
}

.skipLink:focus {
  left: 0;
}

.innerWrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(232, 232, 232);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.heading {
  text-align: left;
  border-bottom: 2px solid rgb(5, 40, 215);
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  margin: 1em 0;
}

.about .paragraphContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.about p {
  padding: 0.5em 2em;
  text-align: left;
  width: 80%;
}
.about .middleParagraphContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .middleParagraphContainer .aboutImgContainer {
  margin: 0 1.5em;
  max-width: 275px;
}
.about .middleParagraphContainer .aboutImgContainer img {
  border: 1px solid rgb(18, 18, 18);
  border-radius: 50px 100px;
  -webkit-box-shadow: 12px 12px 2px 1px rgb(5, 40, 215);
          box-shadow: 12px 12px 2px 1px rgb(5, 40, 215);
}
.about .middleParagraphContainer p {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aboutSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% auto;
  max-width: 500px;
}
.aboutSocials li {
  font-size: 2rem;
  margin: 0 auto;
}
.aboutSocials li span {
  display: block;
}
.aboutSocials li a:hover,
.aboutSocials li a:focus {
  color: rgb(5, 40, 215);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7vh;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 40, 215);
  font-weight: 500;
}
footer p:nth-of-type(2) {
  margin-top: 0.4em;
}

@media only screen and (max-width: 900px) {
  .about p {
    padding: 0.3em 0.5em;
  }
  .about p:nth-of-type(1) {
    padding-top: 0.6em;
  }
  .aboutSocials {
    margin: 7% auto;
  }
}
@media only screen and (max-width: 700px) {
  .about p {
    width: 90%;
  }
  .about .aboutImgContainer {
    opacity: 0;
    height: 0;
    width: 0;
  }
}